:root {
  --square-width: 100px;
  --square-height: 100px;
  --piece-size: 80px;
  --black: #523d3c;
  --white: #c6a28c;
  --piece-size: 70px;
  --available-size: 22px;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  width: calc(var(--square-width) * 8);
  height: calc(var(--square-height) * 8);
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: var(--square-width);
  height: var(--square-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.square img {
  max-width: var(--piece-size);
  max-height: var(--piece-size);
}

.black {
  background-color: var(--black);
}

.white {
  background-color: var(--white);
}

.selected {
  background-color: yellow;
}

.available {
  width: var(--available-size);
  height: var(--available-size);
  background-color: black;
  opacity: .6;
  border-radius: 50%;
}

.chess {
  position: relative;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, .6);
  color: white;
  font-size: 24px;
}


@media (max-height: 1000px) {
  :root {
    --square-width: 60px;
    --square-height: 60px;
    --piece-size: 50px;
  }
}
